.bg-primary {
	color:#000;
	background-color:#fff;
    padding-top: 10px
	}
	
.team-member {
    margin-bottom: 50px;
}

.img-circle {
    border-radius: 50%;
}

.jumbotron{
	background-color: #fff;
}

body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}