body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-family: 'Palanquin', sans-serif;
}
.navbar-inverse {
	background-color: black;
}
h1{
	font-color: white;
}
.jumbotron {
	background-image: url("images/background.jpg");
}
header {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
}