body {
	font-size: 20px;
	font-family: 'Palanquin', sans-serif;
}
.jumbotron {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 70px;
  padding-top: 280px;
  margin-bottom: 30px;
}
.jumbotron h1 {
  	color: white;
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 400%;
    text-align: center;
}
h2{
	color: white;
	padding-top: 450px;
}
#buzz {
	text-align: center;
}
p {
	color: white;
}
.twitter {
	text-align: center;
	padding-top: 30px;
}
p #small {
	color: black;
}